:root {
  --orange: #FB5F19;
  --orange-mid: #FFD0B2;
  --orange-light: #FEF6F1;
  --yellow: #FFE60A;
  --yellow-mid: #FFC935;
  --red: #FF0101;
  --font-size: 23px;
}

body {
  font-family: "FuturaBookC";
  overflow-x: hidden;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: var(--orange);
}
a:hover {
  color: var(--yellow);
}

h3 a {
  color: inherit;
}
h3 a:hover {
  color: inherit;
}

strong {
  font-family: "FuturaDemiC";
}

.section-dark {
  background: #FEF6F1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 110px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.orange-text {
  color: var(--orange);
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-orange {
  background: #FFE60A;
  box-shadow: inset 0px 4px 10.9px rgba(154, 56, 1, 0.25);
}
.btn-blink {
  position: relative;
  overflow: hidden;
}
.btn-blink > span {
  position: relative;
}
.btn-blink:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  background: linear-gradient(270deg, rgba(237, 119, 30, 0) 4.81%, #FB5F19 37.71%, rgba(237, 119, 30, 0) 80.8%);
  transform: rotate(-7.94deg) translateY(-50%);
  filter: blur(20px);
  border-radius: 64px;
  width: 175%;
  height: 175%;
  animation: animate-gradient 1s linear infinite;
}

.title-h1 {
  font-size: 23px;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .title-h1 {
    font-size: 65px;
    line-height: 1.2;
  }
}

.title-h2 {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  font-family: "FuturaDemiC";
}
@media screen and (min-width: 768px) {
  .title-h2 {
    font-size: 45px;
    line-height: 1.2;
  }
}

.is-hidden {
  display: none;
}

.is-fixed {
  position: fixed;
  width: 100%;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.fade.show {
  opacity: 1;
}

.dot {
  display: inline-block;
  background: var(--orange-mid);
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active, .dot:hover {
  background: var(--orange);
}

@keyframes animate-gradient {
  0% {
    left: -200%;
  }
  to {
    left: 100%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --font-size: 15px;
  }
}
header > .container {
  display: flex;
}
header nav {
  width: 100%;
}
header.is-fixed {
  background: white;
  z-index: 20;
  top: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  position: relative;
  z-index: 2;
  gap: 1rem;
}
@media screen and (max-width: 1200px) {
  .header-nav {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-nav__mobile {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.header-nav__menu {
  display: inline-flex;
  align-items: center;
  width: 17px;
  justify-content: end;
}
.header-nav__menu::after {
  width: 17px;
  height: 14px;
  display: inline-flex;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2217%22%20height%3D%2214%22%20viewBox%3D%220%200%2017%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2217%22%20height%3D%222%22%20rx%3D%221%22%20fill%3D%22%23FF791F%22%2F%3E%0A%3Crect%20y%3D%2212%22%20width%3D%2217%22%20height%3D%222%22%20rx%3D%221%22%20fill%3D%22%23FF791F%22%2F%3E%0A%3Crect%20x%3D%227%22%20y%3D%226%22%20width%3D%2210%22%20height%3D%222%22%20rx%3D%221%22%20fill%3D%22%23FF791F%22%2F%3E%0A%3C%2Fsvg%3E");
}
.header-nav__menu.is-open::after {
  width: 14px;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.1251%200.875026C12.6419%200.391758%2011.8584%200.391712%2011.3751%200.874923L6.99938%205.25L2.62484%200.875077C2.14161%200.391797%201.35808%200.391798%200.874846%200.875077C0.391669%201.3583%200.391669%202.1417%200.874845%202.62492L5.24954%207L0.874845%2011.3751C0.391668%2011.8583%200.391669%2012.6417%200.874846%2013.1249C1.35808%2013.6082%202.14161%2013.6082%202.62485%2013.1249L6.99938%208.75L11.3751%2013.1251C11.8584%2013.6083%2012.6419%2013.6082%2013.1251%2013.125C13.6083%2012.6417%2013.6083%2011.8583%2013.1251%2011.375L8.75046%207L13.1251%202.62497C13.6083%202.14173%2013.6083%201.35827%2013.1251%200.875026Z%22%20fill%3D%22%23FB5F19%22%2F%3E%0A%3C%2Fsvg%3E");
}
.header-nav__list a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
}
.header-nav__list a:hover {
  color: var(--orange);
}
.header-nav__list a:hover::after {
  padding-left: 0.3rem;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%226%22%20height%3D%2210%22%20viewBox%3D%220%200%206%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%209L5%205L1%201%22%20stroke%3D%22%23FB5F19%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
}
@media screen and (min-width: 768px) {
  .header-nav__list a:hover::after {
    position: absolute;
    right: 0;
    transform: translate(100%, -2px);
  }
}
@media screen and (max-width: 768px) {
  .header-nav__list {
    position: absolute;
    top: -250%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    background-color: #FFF;
    width: 100%;
    padding: 40px 10px;
    margin: 0 -10px;
    height: 0;
    transition: all 0.7s ease-out;
    overflow: hidden;
    opacity: 0;
  }
  .header-nav__list li {
    line-height: 30px;
  }
  .header-nav__list.is-show {
    opacity: 1;
    height: 100vh;
    top: 100%;
  }
}
@media screen and (min-width: 768px) {
  .header-nav__list {
    display: flex;
    align-items: center;
  }
  .header-nav__list li {
    font-weight: 500;
    margin: 0 10px;
  }
}
.header-nav__phone {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .header-nav__phone {
    font-size: 12px;
    flex-basis: 100%;
    text-align: right;
  }
}
.header-nav__phone a {
  text-decoration: none;
  color: inherit;
}
.header-nav__phone a:hover {
  color: var(--orange);
}
@media screen and (max-width: 768px) {
  .header-nav__phone a {
    white-space: nowrap;
  }
}

.logo {
  --logo-gap: 20px;
  --logo-width: 100px;
  display: flex;
  align-items: center;
  gap: var(--logo-gap);
}
@media screen and (max-width: 1200px) {
  .logo {
    --logo-gap: 14px;
    --logo-width: 64px;
  }
}
@media screen and (max-width: 768px) {
  .logo {
    --logo-gap: 7px;
    --logo-width: 32px;
  }
}
.logo__img {
  width: var(--logo-width);
  padding: 5px 0;
  aspect-ratio: 1/1;
}
.logo__img a {
  display: flex;
}
.logo__img img {
  max-width: 100%;
}
.logo__text {
  font-size: 35px;
  font-weight: bold;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .logo__text {
    font-size: 12px;
  }
}

.jumbotron__title {
  text-transform: uppercase;
}
.jumbotron__button {
  --height: 88px;
  --width: 380px;
  --font-size: 23px;
  height: var(--height);
  min-width: var(--width);
  width: fit-content;
  font-size: var(--font-size);
  text-decoration: inherit;
  color: inherit;
}
.jumbotron__button:hover {
  color: inherit;
}
.jumbotron__image {
  display: flex;
}
@media screen and (max-width: 768px) {
  .jumbotron__title {
    text-align: center;
  }
  .jumbotron__button {
    --height: 52px;
    --width: 240px;
    --font-size: 18px;
    width: fit-content;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .jumbotron > .container {
    padding: 110px;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .jumbotron__content {
    max-width: 610px;
  }
  .jumbotron__title {
    margin-bottom: 60px;
  }
  .jumbotron__title > * {
    margin-top: 0.5em;
    display: inline-block;
  }
  .jumbotron__title > p {
    margin-bottom: 0;
  }
  .jumbotron__image {
    position: absolute;
    right: 0;
    bottom: -5px;
  }
}

.jobs > .container {
  --padding: 110px;
  padding: var(--padding);
  position: relative;
}
.jobs__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "FuturaMediumC";
  font-weight: 700;
}
.jobs__item-title {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}
.jobs__item-title a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}
.jobs__item-title a:hover {
  text-decoration: underline;
}
.jobs__item {
  position: relative;
}
.jobs__item-inner {
  --b-radius: 50px;
  border-radius: var(--b-radius);
  overflow: hidden;
  box-shadow: 6px 6px 27.6px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 100%;
}
.jobs__city {
  --right: -18px;
  --top: -5px;
  position: absolute;
  right: var(--right);
  top: var(--top);
  background: var(--yellow-mid);
  box-shadow: 0px 4px 11.2px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
  min-width: 150px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
}
.jobs__image {
  --ratio: 380/353;
  aspect-ratio: var(--ratio);
  overflow: hidden;
}
.jobs__image img {
  width: 100%;
}
.jobs__bottom {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.jobs__button {
  min-width: 214px;
  height: 52px;
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
.jobs__button:hover {
  color: inherit;
  text-decoration: underline;
}
.jobs__dots {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 12px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
}
.jobs__dot {
  width: 18px;
  height: 18px;
}
.jobs__item {
  --width: 380px;
  max-width: var(--width);
  width: var(--width);
}
@media (max-width: 768px) {
  .jobs > .container {
    --padding: 10px 10px 40px 10px;
  }
  .jobs__title {
    margin: 50px 0;
  }
  .jobs__item-title {
    font-size: 18px;
  }
  .jobs__slider {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }
  .jobs__item {
    --width: 100%;
  }
  .jobs__city {
    --right: -2px;
    --top: -10px;
  }
  .jobs__item-inner {
    --b-radius: 25px;
  }
  .jobs__dots {
    display: none;
  }
}
@media (min-width: 768px) {
  .jobs__slider {
    display: flex;
    gap: 2rem;
  }
  .jobs__slider.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 133px;
    z-index: 2;
  }
  .jobs__slider:not(.slider) {
    margin-top: 6rem;
    justify-content: center;
  }
  .jobs__item {
    flex-shrink: 0;
  }
  .slider .jobs__item {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    transition: transform 1s, opacity 1s;
  }
  .slider .jobs__item.active--big {
    transform: scale(1.25);
    z-index: 2;
  }
  .slider .jobs__item.left-hide {
    opacity: 0;
    transform: translateX(calc(-200% - 60px));
  }
  .slider .jobs__item.right-hide {
    opacity: 0;
    transform: translateX(calc(200% + 60px));
  }
  .slider .jobs__item.left {
    transform: translateX(calc(-100% - 40px));
  }
  .slider .jobs__item.right {
    transform: translateX(calc(100% + 40px));
  }
}

.offers > .container {
  --padding: 110px;
  padding: var(--padding);
  position: relative;
}
.offers__block {
  --width: 280px;
  --height: 234px;
  --border-radius: 50px;
  --padding: 24px;
  background: linear-gradient(180deg, #FF791F 0%, #FFA51F 63.28%, #FFE178 136.08%);
  box-shadow: 6px 6px 27px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  width: var(--width);
  height: var(--height);
  padding: var(--padding);
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  cursor: pointer;
}
.offers__block:hover {
  transform: scale(1.1);
}
.offers__blocks {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}
.offers__title {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.offers__title-item {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.offers__title-item a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .offers > .container {
    --padding: 40px 10px;
  }
  .offers__block {
    --width: 100%;
    --height: 117px;
    --border-radius: 25px;
    --padding: 12px;
  }
  .offers__image {
    height: min-content;
    width: fit-content;
  }
  .offers__image img {
    max-height: 50%;
    max-width: 50%;
  }
  .offers__title-item {
    font-size: 12px;
  }
  .offers__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .offers__wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }
}

.about {
  --width: 380px;
  --flex-width: calc(33.3% - 14px);
  --gap: 21px;
  --padding: 110px;
  --border-radius: 50px;
}
.about > .container {
  padding: var(--padding);
}
.about__wrap {
  overflow: hidden;
}
.about__list {
  left: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: left 0.5s ease-in-out;
  gap: var(--gap);
}
.about__item {
  flex-basis: var(--flex-width);
  flex-shrink: 0;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about__image {
  --ratio: 190/149;
  overflow: hidden;
  border-radius: var(--border-radius);
  min-width: var(--width);
  width: 100%;
  aspect-ratio: var(--ratio);
  position: relative;
  /*
  cursor: pointer;
  &:hover img {
      transform: scale(1.3);
  }
  */
}
.about__title {
  --padding-title: 70px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: var(--padding-title);
}
.about__item-title {
  --font-size: 23px;
  font-family: "FuturaDemiC";
  text-transform: uppercase;
  text-align: center;
  font-size: var(--font-size);
}
.about__body {
  text-align: center;
}
.about__dots {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.about__dot {
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .about__dots {
    display: none;
  }
}
@media (max-width: 768px) {
  .about {
    --width: 100%;
    --flex-width: 100%;
    --padding: 40px 10px;
    --border-radius: 25px;
  }
  .about__title {
    --padding-title: 36px;
  }
  .about__list {
    gap: 10px;
  }
  .about__image {
    --ratio: 60/47;
  }
}

.form-select, .form-control {
  --font-size: 23px;
  --border-radius: 20px;
  --height: 70px;
  --padding: 0 30px;
  background: #FFFFFF;
  border: 1px solid #C9C4C4;
  box-shadow: 6px 6px 27px rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  line-height: 1.3;
  color: #C9C4C4;
  height: var(--height);
  padding: var(--padding);
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .form-select, .form-control {
    --font-size: 12px;
    --border-radius: 10px;
    --height: 36px;
  }
}

.form-control {
  width: 100%;
}
.form-select {
  width: 100%;
  outline: none;
  appearance: none;
}
.form-select__wrap {
  position: relative;
}
.form-select__wrap::after {
  position: absolute;
  content: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%201.5L8%208.5L15%201.5%22%20stroke%3D%22%23C9C4C4%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
  display: inline-flex;
  align-items: center;
  height: 100%;
  right: 30px;
  top: 0;
}
.form-select__wrap:focus-within::after {
  transform: rotate(180deg);
}
.form-group {
  position: relative;
}
.form-group.form-group--bottom {
  margin-top: 80px;
}
@media (max-width: 768px) {
  .form-group.form-group--bottom {
    margin-top: 50px;
    margin-bottom: 40px;
  }
}
.form-group.text-center {
  display: flex;
  justify-content: center;
}
.form-group.is-invalid input, .form-group.is-invalid .form-select {
  border-color: var(--red);
  color: var(--red);
}
.form-group.is-invalid .form-select__wrap::after {
  content: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2216%22%20height%3D%2210%22%20viewBox%3D%220%200%2016%2010%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M1%201.5L8%208.5L15%201.5%22%20stroke%3D%22%23FF0101%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
}
.form-check {
  --label-size: 35px;
  --font-size: inherit;
  --margin-top: 32px;
  --check-size: 32px;
  --check-margin: 50px;
  margin-top: var(--margin-top);
  font-size: var(--font-size);
}
@media (max-width: 768px) {
  .form-check {
    --label-size: 20px;
    --font-size: 12px;
    --check-size: 18px;
    --check-margin: 10px;
  }
}
.form-check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form-check-input:checked + label::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M26.6666%209.3335L11.9999%2024.0002L5.33325%2017.3335%22%20stroke%3D%22%23FB5F19%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E");
  position: absolute;
  display: block;
  height: var(--check-size);
  width: var(--check-size);
  background-size: var(--check-size) var(--check-size);
}
.form-check-input:checked + label::before {
  background-color: var(--orange-light);
  box-shadow: 0px -2px 14.9px rgba(0, 0, 0, 0.05);
}
.form-check-label {
  display: flex;
  position: relative;
}
.form-check-label::before {
  content: "";
  display: inline-block;
  width: var(--label-size);
  height: var(--label-size);
  border: none;
  border-radius: 7px;
  margin-right: var(--check-margin);
  background-color: #FFFFFF;
  box-shadow: 0px -2px 14.9px rgba(0, 0, 0, 0.1);
}
.form-check-label span {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.poll {
  --padding: 110px;
  --margin-bottom: 80px;
  --btn-height: 88px;
  --btn-width: 380px;
  --btn-font-size: 23px;
}
.poll > .container {
  padding: var(--padding);
  position: relative;
}
.poll__btn {
  height: var(--btn-height);
  min-width: var(--btn-width);
  font-size: var(--btn-font-size);
}
.poll__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--margin-bottom);
}
@media (max-width: 768px) {
  .poll {
    --padding: 10px;
    --margin-bottom: 50px;
    --btn-height: 52px;
    --btn-width: 220px;
    --btn-font-size: 15px;
  }
  .poll .col-auto:not(:last-child) {
    margin-bottom: 12px;
  }
  .poll .row {
    margin-bottom: 12px;
  }
  .poll__title {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .poll .row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
  .poll .col-auto {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .poll .messages.error {
    position: absolute;
    color: var(--red);
    z-index: 3;
    margin-top: 5px;
  }
  .poll .messages.error p {
    margin: 0;
    color: inherit;
  }
}

footer {
  --font-size: 20px;
  --margin: 32px;
  --app-button_w: 180px;
  --social-size: 36px;
  --social-icon-s: 32px;
  --social-radius: 7px;
  --social-margin: 110px;
  --app-link-height: 56px;
  --app-link-radius: 20px;
  --app-link-padding: 10px 20px;
  --app-link-icon-w: 36px;
  --links-gap: 32px;
}
footer .grid-col__apps {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
footer .grid-text__content {
  font-size: var(--font-size);
}
footer .grid-text__title {
  margin-bottom: var(--margin);
}
footer .grid-links {
  display: flex;
  flex-direction: column;
  gap: var(--links-gap);
}
footer .grid-apps__link {
  color: white;
  background-color: black;
  height: var(--app-link-height);
  border-radius: var(--app-link-radius);
  min-width: var(--app-button_w);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--app-link-padding);
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  gap: 12px;
}
footer .grid-apps__link::before {
  content: "";
  display: inline-grid;
  align-items: center;
  min-width: var(--app-link-icon-w);
  height: var(--app-link-icon-w);
}
footer .grid-apps__link.google::before {
  content: url("data:image/svg+xml,%3Csvg%20height%3D%22100%25%22%20viewBox%3D%220%200%2030%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.520607%200.45919C0.130151%200.849646%200%201.5004%200%202.28132V31.0449C0%2031.8258%200.260304%2032.4765%200.650759%2032.867L0.780911%2032.9972L16.9197%2016.8583V16.598L0.520607%200.45919Z%22%20fill%3D%22url%28%23paint0_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.1258%2022.3247L16.7896%2016.9885V16.598L22.1258%2011.2618L22.256%2011.3919L28.6334%2015.0362C30.4556%2016.0774%2030.4556%2017.7694%2028.6334%2018.8106L22.1258%2022.3247Z%22%20fill%3D%22url%28%23paint1_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.256%2022.1945L16.7896%2016.7282L0.52063%2032.9971C1.17139%2033.6479%202.08245%2033.6479%203.25382%2033.1273L22.256%2022.1945Z%22%20fill%3D%22url%28%23paint2_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.256%2011.2618L3.25382%200.459188C2.08245%20-0.191572%201.17139%20-0.06142%200.52063%200.589339L16.7896%2016.7282L22.256%2011.2618Z%22%20fill%3D%22url%28%23paint3_linear_1_7%29%22%2F%3E%0A%3Cpath%20opacity%3D%220.2%22%20d%3D%22M22.1258%2022.0644L3.25382%2032.7368C2.2126%2033.3876%201.30154%2033.2575%200.650782%2032.7368L0.52063%2032.867L0.650782%2032.9971C1.30154%2033.5178%202.2126%2033.6479%203.25382%2032.9971L22.1258%2022.0644Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20opacity%3D%220.12%22%20d%3D%22M0.520607%2032.7368C0.130151%2032.3464%200%2031.6956%200%2030.9147V31.0449C0%2031.8258%200.260304%2032.4765%200.650759%2032.867V32.7368H0.520607ZM28.6334%2018.4201L22.1258%2022.0644L22.256%2022.1945L28.6334%2018.5503C29.5445%2018.0297%2029.9349%2017.3789%2029.9349%2016.7282C29.9349%2017.3789%2029.4143%2017.8995%2028.6334%2018.4201Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20opacity%3D%220.25%22%20d%3D%22M3.2538%200.58934L28.6334%2015.0362C29.4143%2015.5568%2029.9349%2016.0774%2029.9349%2016.7282C29.9349%2016.0774%2029.5445%2015.4267%2028.6334%2014.906L3.2538%200.459188C1.43167%20-0.582027%200%200.198884%200%202.28131V2.41147C0%200.459188%201.43167%20-0.451875%203.2538%200.58934Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_1_7%22%20x1%3D%2215.3579%22%20y1%3D%222.03403%22%20x2%3D%22-6.48547%22%20y2%3D%2223.8761%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2300A0FF%22%2F%3E%0A%3Cstop%20offset%3D%220.007%22%20stop-color%3D%22%2300A1FF%22%2F%3E%0A%3Cstop%20offset%3D%220.26%22%20stop-color%3D%22%2300BEFF%22%2F%3E%0A%3Cstop%20offset%3D%220.512%22%20stop-color%3D%22%2300D2FF%22%2F%3E%0A%3Cstop%20offset%3D%220.76%22%20stop-color%3D%22%2300DFFF%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300E3FF%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_1_7%22%20x1%3D%2231.0204%22%20y1%3D%2216.7295%22%20x2%3D%22-0.472428%22%20y2%3D%2216.7295%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFE000%22%2F%3E%0A%3Cstop%20offset%3D%220.409%22%20stop-color%3D%22%23FFBD00%22%2F%3E%0A%3Cstop%20offset%3D%220.775%22%20stop-color%3D%22%23FFA500%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF9C00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_1_7%22%20x1%3D%2219.2976%22%20y1%3D%2219.7165%22%20x2%3D%22-10.3223%22%20y2%3D%2249.3364%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FF3A44%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C31162%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint3_linear_1_7%22%20x1%3D%22-3.51798%22%20y1%3D%22-9.07313%22%20x2%3D%229.70935%22%20y2%3D%224.1542%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2332A071%22%2F%3E%0A%3Cstop%20offset%3D%220.069%22%20stop-color%3D%22%232DA771%22%2F%3E%0A%3Cstop%20offset%3D%220.476%22%20stop-color%3D%22%2315CF74%22%2F%3E%0A%3Cstop%20offset%3D%220.801%22%20stop-color%3D%22%2306E775%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300F076%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
}
footer .grid-apps__link.apple::before {
  content: url("data:image/svg+xml,%3Csvg%20height%3D%22100%25%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_3_15%29%22%3E%0A%3Cpath%20d%3D%22M7.88398%200H28.116C32.4702%200%2036%203.52978%2036%207.88398V28.116C36%2032.4702%2032.4702%2036%2028.116%2036H7.88398C3.52978%2036%200%2032.4702%200%2028.116V7.88398C0%203.52978%203.52978%200%207.88398%200Z%22%20fill%3D%22url%28%23paint0_linear_3_15%29%22%2F%3E%0A%3Cpath%20d%3D%22M11.5371%2026.1296L11.5405%2026.1307L10.3096%2028.2625C9.86036%2029.0407%208.86523%2029.3074%208.08704%2028.8581C7.30889%2028.4088%207.04225%2027.4137%207.49152%2026.6355L8.39825%2025.065L8.48526%2024.9143C8.64067%2024.6909%209.02417%2024.3055%209.79127%2024.3779C9.79127%2024.3779%2011.5964%2024.5738%2011.7271%2025.5121C11.7271%2025.5121%2011.7449%2025.8208%2011.5371%2026.1296ZM28.9948%2020.6845H25.1565C24.8951%2020.667%2024.781%2020.5736%2024.7362%2020.5194L24.7333%2020.5144L20.6246%2013.3979L20.6193%2013.4015L20.3728%2013.0482C19.969%2012.4306%2019.3278%2014.0101%2019.3278%2014.0101C18.5621%2015.7701%2019.4364%2017.7711%2019.7413%2018.3759L25.448%2028.2603C25.8973%2029.0385%2026.8924%2029.3052%2027.6706%2028.8559C28.4487%2028.4066%2028.7154%2027.4115%2028.2661%2026.6333L26.839%2024.1616C26.8114%2024.1018%2026.7633%2023.9391%2027.0559%2023.9385H28.9948C29.8933%2023.9385%2030.6218%2023.2101%2030.6218%2022.3115C30.6218%2021.4129%2029.8933%2020.6845%2028.9948%2020.6845ZM21.5397%2022.8963C21.5397%2022.8963%2021.7445%2023.9385%2020.9518%2023.9385H20.1591L6.76289%2023.9385C5.86432%2023.9385%205.13586%2023.2101%205.13586%2022.3115C5.13586%2021.4129%205.86432%2020.6845%206.76289%2020.6845H10.4107C10.9996%2020.6503%2011.1393%2020.3104%2011.1393%2020.3104L11.1425%2020.312L15.9041%2012.0646L15.9027%2012.0643C15.9895%2011.905%2015.9172%2011.7545%2015.9046%2011.7306L14.3321%209.00697C13.8828%208.22878%2014.1494%207.23369%2014.9276%206.78442C15.7058%206.33512%2016.7009%206.60176%2017.1502%207.37994L17.8795%208.64317L18.6075%207.38219C19.0568%206.604%2020.0519%206.33736%2020.8301%206.78667C21.6082%207.23597%2021.8749%208.23106%2021.4256%209.00921L14.7996%2020.4856C14.7707%2020.5555%2014.7618%2020.6651%2014.9774%2020.6845H18.938L18.9388%2020.723C18.9388%2020.723%2021.2279%2020.7587%2021.5397%2022.8963Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_3_15%22%20x1%3D%221800%22%20y1%3D%220%22%20x2%3D%221800%22%20y2%3D%223600%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2317C9FB%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%231A74E8%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_3_15%22%3E%0A%3Crect%20width%3D%2236%22%20height%3D%2236%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
}
footer .grid-socials {
  display: flex;
  gap: 32px;
  grid-column-end: 4;
  margin-bottom: var(--social-margin);
}
footer .grid-socials__link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
}
footer .grid-socials__link:hover {
  color: var(--orange);
}
footer .grid-socials__link:hover > i {
  background-color: var(--orange);
}
footer .grid-socials__link > i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--social-size);
  height: var(--social-size);
  border-radius: var(--social-radius);
  background-color: black;
}
footer .grid-socials__link > i::before {
  content: "";
  width: var(--social-icon-s);
  height: var(--social-icon-s);
  display: inline-block;
}
footer .grid-socials__link.ig > i::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M26.4875%209.1625C26.4875%209.3905%2026.4425%209.61629%2026.3553%209.82692C26.2681%2010.0376%2026.1401%2010.229%2025.979%2010.3902C25.8178%2010.5514%2025.6263%2010.6793%2025.4156%2010.7666C25.205%2010.8538%2024.9793%2010.8987%2024.7513%2010.8987C24.5233%2010.8987%2024.2975%2010.8538%2024.0868%2010.7666C23.8762%2010.6793%2023.6848%2010.5514%2023.5235%2010.3902C23.3623%2010.229%2023.2344%2010.0376%2023.1472%209.82692C23.0598%209.61629%2023.015%209.3905%2023.015%209.1625C23.015%208.70202%2023.1978%208.2604%2023.5235%207.93479C23.8492%207.60918%2024.2908%207.42625%2024.7513%207.42625C25.2118%207.42625%2025.6533%207.60918%2025.979%207.93479C26.3045%208.2604%2026.4875%208.70202%2026.4875%209.1625ZM32%2017V17.0225L31.9006%2023.315C31.8753%2025.5843%2030.9626%2027.7537%2029.3579%2029.3585C27.7535%2030.9635%2025.5843%2031.8766%2023.315%2031.9025L17%2032H16.9775L10.685%2031.9006C8.41563%2031.8753%206.24633%2030.9626%204.64139%2029.3581C3.03643%2027.7535%202.12333%2025.5843%202.0975%2023.315L2%2017V16.9775L2.09937%2010.685C2.12471%208.41563%203.03733%206.24633%204.64193%204.64139C6.24654%203.03643%208.41563%202.12332%2010.685%202.0975L17%202H17.0225L23.315%202.09938C25.5843%202.12471%2027.7537%203.03733%2029.3585%204.64193C30.9635%206.24654%2031.8766%208.41563%2031.9025%2010.685L32%2017ZM29.2063%2017L29.1088%2010.7281C29.0911%209.18552%2028.4705%207.71106%2027.3798%206.62021C26.2889%205.52937%2024.8145%204.90878%2023.2719%204.89125L17%204.79375L10.7281%204.89125C9.18552%204.90878%207.71106%205.52937%206.62021%206.62021C5.52937%207.71106%204.90878%209.18552%204.89125%2010.7281L4.79375%2017L4.89125%2023.2719C4.90878%2024.8144%205.52937%2026.2889%206.62021%2027.3798C7.71106%2028.4707%209.18552%2029.0911%2010.7281%2029.1088L17%2029.2063L23.2719%2029.1088C24.8145%2029.0911%2026.2889%2028.4707%2027.3798%2027.3798C28.4705%2026.2889%2029.0911%2024.8144%2029.1088%2023.2719L29.2063%2017ZM24.7025%2017C24.7025%2019.0428%2023.891%2021.002%2022.4465%2022.4465C21.002%2023.891%2019.0428%2024.7025%2017%2024.7025C14.9572%2024.7025%2012.998%2023.891%2011.5535%2022.4465C10.109%2021.002%209.2975%2019.0428%209.2975%2017C9.2975%2014.9572%2010.109%2012.998%2011.5535%2011.5535C12.998%2010.109%2014.9572%209.2975%2017%209.2975C19.0428%209.2975%2021.002%2010.109%2022.4465%2011.5535C23.891%2012.998%2024.7025%2014.9572%2024.7025%2017ZM21.9088%2017C21.9088%2015.6981%2021.3916%2014.4495%2020.471%2013.529C19.5504%2012.6084%2018.3019%2012.0912%2017%2012.0912C15.6981%2012.0912%2014.4495%2012.6084%2013.529%2013.529C12.6084%2014.4495%2012.0912%2015.6981%2012.0912%2017C12.0912%2018.3019%2012.6084%2019.5504%2013.529%2020.471C14.4495%2021.3916%2015.6981%2021.9088%2017%2021.9088C18.3019%2021.9088%2019.5504%2021.3916%2020.471%2020.471C21.3916%2019.5504%2021.9088%2018.3019%2021.9088%2017Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}
footer .grid-socials__link.fb > i::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_2_4%29%22%3E%0A%3Cpath%20d%3D%22M21.9284%2016.7476L22.7548%2011.3592H17.5849V7.86252C17.5849%206.38836%2018.3071%204.95146%2020.6227%204.95146H22.9733V0.364102C22.9733%200.364102%2020.84%200%2018.8006%200C14.5426%200%2011.7597%202.58059%2011.7597%207.25244V11.3592H7.02667V16.7476H11.7597V29.7735C12.7087%2029.9224%2013.6815%2030%2014.6723%2030C15.6632%2030%2016.6359%2029.9224%2017.5849%2029.7735V16.7476H21.9284Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_2_4%22%3E%0A%3Crect%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
  align-items: end;
  justify-content: end;
}
footer .grid-socials__link.vk > i::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M28.9798%209.65898H24.7607C24.5884%209.65898%2024.4195%209.70645%2024.2717%209.79634C24.1239%209.88623%2024.0028%2010.0152%2023.9214%2010.1695C23.9214%2010.1695%2022.2387%2013.3205%2021.6981%2014.3818C20.244%2017.2369%2019.3024%2016.3406%2019.3024%2015.0155V10.4467C19.3024%2010.0649%2019.1532%209.69871%2018.8877%209.42874C18.6222%209.15878%2018.2621%209.00711%2017.8866%209.00711H14.7144C14.2824%208.97445%2013.8493%209.05463%2013.4564%209.24003C13.0634%209.42542%2012.7236%209.70989%2012.4692%2010.0664C12.4692%2010.0664%2014.08%209.80158%2014.08%2012.0084C14.08%2012.5556%2014.1077%2014.1299%2014.133%2015.4502C14.1378%2015.6448%2014.0837%2015.8362%2013.9781%2015.9985C13.8725%2016.1609%2013.7204%2016.2863%2013.5425%2016.358C13.3645%2016.4297%2013.1692%2016.4442%2012.9829%2016.3994C12.7966%2016.3546%2012.6283%2016.2528%2012.5007%2016.1077C11.2023%2014.2715%2010.1267%2012.2826%209.29747%2010.1841C9.22626%2010.0271%209.11225%209.89423%208.96897%209.80115C8.8257%209.70807%208.65917%209.65873%208.48915%209.65898C7.57415%209.65898%205.74316%209.65898%204.6558%209.65898C4.55036%209.65825%204.44632%209.68356%204.35262%209.73273C4.25892%209.7819%204.17836%209.85347%204.11787%209.94128C4.05737%2010.0291%204.01874%2010.1305%204.00531%2010.2369C3.99187%2010.3432%204.00403%2010.4513%204.04073%2010.5518C5.20472%2013.7981%2010.2188%2024%2015.9419%2024H18.3508C18.6031%2024%2018.8452%2023.898%2019.0237%2023.7166C19.2021%2023.5351%2019.3024%2023.289%2019.3024%2023.0324V21.5534C19.3024%2021.3679%2019.3558%2021.1864%2019.456%2021.0314C19.5562%2020.8763%2019.6988%2020.7545%2019.8662%2020.6808C20.0337%2020.6071%2020.2187%2020.5849%2020.3985%2020.6168C20.5782%2020.6488%2020.7448%2020.7335%2020.8778%2020.8605L23.761%2023.6149C24.02%2023.8623%2024.3619%2024%2024.7172%2024H28.5034C30.3295%2024%2030.3295%2022.7116%2029.3338%2021.7146C28.6332%2021.013%2026.1048%2018.3033%2026.1048%2018.3033C25.8883%2018.0752%2025.7591%2017.7759%2025.7407%2017.4595C25.7223%2017.143%2025.8158%2016.8303%2026.0043%2016.5779C26.8216%2015.4844%2028.1583%2013.6943%2028.7252%2012.9275C29.5001%2011.8794%2030.9025%209.65898%2028.9798%209.65898Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}
@media (min-width: 768px) {
  footer .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  footer .grid-container {
    display: flex;
    flex-direction: column;
  }
  footer .grid-text {
    order: -2;
  }
  footer .grid-col {
    order: -1;
  }
}
@media (max-width: 768px) {
  footer {
    --font-size: 12px;
    --app-button_w: 100px;
    --social-size: 20px;
    --social-icon-s: 16px;
    --social-radius: 4px;
    --social-margin: 50px;
    --app-link-height: 30px;
    --app-link-radius: 7px;
    --app-link-padding: 5px 10px;
    --app-link-icon-w: 18px;
    --links-gap: 12px;
  }
  footer .grid-links {
    padding: 24px 0;
  }
}

.modal {
  --min-height: 570px;
  --border-radius: 50px;
  --font-size: 35px;
  --img-width: 153px;
  --img-height: 111px;
  --img-padding: 110px;
  --padding: 40px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  transform: translate(0, 0);
  width: auto;
  margin: 1.75rem auto;
  pointer-events: none;
  max-width: 830px;
}
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-mark {
  padding: var(--img-padding);
  text-align: center;
  width: var(--img-width);
  height: var(--img-height);
}
.modal-content {
  position: relative;
  width: calc(100% - 20px);
  background: #FFFFFF;
  box-shadow: 6px 6px 27.6px rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius);
  min-height: var(--min-height);
  pointer-events: auto;
  font-size: var(--font-size);
  margin: 0 auto;
}
.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
}
.modal-body {
  padding: var(--padding);
  text-align: center;
}
.modal-body p {
  margin: 0;
}
@media (max-width: 768px) {
  .modal {
    --border-radius: 25px;
    --min-height: 205px;
    --font-size: 13px;
    --img-width: 66px;
    --img-height: 48px;
    --img-padding: 42px;
    --padding: 12px;
  }
  .modal-dialog {
    margin: 50% auto;
  }
}

.close {
  --top: 32px;
  --right: 32px;
  --cross-size: 35px;
  position: absolute;
  right: var(--right);
  top: var(--top);
  cursor: pointer;
}
.close::after {
  width: var(--cross-size);
  height: var(--cross-size);
  display: block;
  content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20viewBox%3D%220%200%2033%2033%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M31.8128%201.18756C30.6047%20-0.0206038%2028.646%20-0.0207202%2027.4378%201.18731L16.4985%2012.125L5.56211%201.18769C4.35402%20-0.0205053%202.3952%20-0.0205048%201.18711%201.18769C-0.0208268%202.39574%20-0.0208275%204.35426%201.18711%205.56231L12.1238%2016.5L1.18711%2027.4377C-0.0208275%2028.6457%20-0.020827%2030.6043%201.18711%2031.8123C2.3952%2033.0205%204.35402%2033.0205%205.56211%2031.8123L16.4985%2020.875L27.4378%2031.8127C28.646%2033.0207%2030.6047%2033.0206%2031.8128%2031.8124C33.0208%2030.6043%2033.0208%2028.6457%2031.8128%2027.4376L20.8762%2016.5L31.8128%205.56243C33.0208%204.35432%2033.0208%202.39568%2031.8128%201.18756Z%22%20fill%3D%22%23C9C4C4%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
@media (max-width: 768px) {
  .close {
    --top: 16px;
    --right: 16px;
    --cross-size: 14px;
  }
}