body {
  font-family: "FuturaBookC";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 110px;
  box-sizing: border-box;
}

.orange-text {
  color: #FB5F19;
}

.btn {
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-orange {
  background: #FFE60A;
  box-shadow: inset 0px 4px 10.9px rgba(154, 56, 1, 0.25);
}
.btn-blink {
  position: relative;
  overflow: hidden;
}
.btn-blink > span {
  position: relative;
  z-index: 2;
}
.btn-blink:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -5px;
  background: linear-gradient(270deg, rgba(237, 119, 30, 0) 4.81%, #FB5F19 37.71%, rgba(237, 119, 30, 0) 80.8%);
  transform: rotate(-7.94deg) translateY(-50%);
  filter: blur(20px);
  border-radius: 64px;
  width: 175%;
  height: 175%;
  animation: animate-gradient 1s linear infinite;
}

.title-h1 {
  font-size: 65px;
  line-height: 1.4;
}

.title-h2 {
  font-size: 45px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "FuturaMediumC";
}

.is-hidden {
  display: none;
}

@keyframes animate-gradient {
  0% {
    left: -200%;
  }
  to {
    left: 100%;
  }
}
header > .container {
  display: flex;
}
header nav {
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.header-nav__list {
  display: flex;
  align-items: center;
}
.header-nav__list li {
  font-weight: 500;
  margin: 0 10px;
}
.header-nav__list li a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.header-nav__list li a:hover {
  color: #FB5F19;
}
.header-nav__phone {
  font-weight: 700;
}
.header-nav__phone a {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__img {
  width: 100px;
  aspect-ratio: 1/1;
}
.logo__img img {
  max-width: 100%;
}
.logo__text {
  font-size: 35px;
  font-weight: bold;
}

.jumbotron > .container {
  padding: 110px;
  height: 800px;
  position: relative;
  display: flex;
  align-items: center;
}
.jumbotron__content {
  max-width: 610px;
}
.jumbotron__title {
  text-transform: uppercase;
  margin-bottom: 60px;
}
.jumbotron__title > * {
  margin-top: 0.5em;
  display: inline-block;
}
.jumbotron__title > p {
  margin-bottom: 0;
}
.jumbotron__title strong {
  font-family: "FuturaMediumC";
}
.jumbotron__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.jumbotron__button {
  height: 88px;
  min-width: 380px;
  font-size: 23px;
}

.jobs {
  background: #FEF6F1;
}
.jobs > .container {
  padding: 110px;
}
.jobs__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "FuturaMediumC";
  font-weight: 700;
  padding-bottom: 70px;
}
.jobs__item-title {
  text-align: center;
  text-transform: uppercase;
  margin: 30px 0;
}
.jobs__item-title a {
  text-decoration: none;
  color: inherit;
}
.jobs__item-title a:hover {
  text-decoration: underline;
}
.jobs__slider {
  display: flex;
  gap: 20px;
  padding: 80px 0;
  position: relative;
}
.jobs__item {
  flex-basis: 33.33%;
  position: absolute;
  max-width: 380px;
  transition: transform 1s, opacity 1s;
  flex-shrink: 0;
}
.jobs__item:not(.active) {
  opacity: 0.7;
}
.jobs__item.active {
  transform: scale(1.25);
  z-index: 2;
}
.jobs__item:nth-child(2) {
  left: calc(33.3% + 20px);
}
.jobs__item:nth-child(3) {
  left: calc(66.6% + 40px);
}
.jobs__item:nth-child(n+4) {
  display: none;
}
.jobs__item-inner {
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 6px 6px 27.6px rgba(0, 0, 0, 0.15);
  background-color: white;
  width: 100%;
}
.jobs__image {
  aspect-ratio: 380/353;
  overflow: hidden;
}
.jobs__image img {
  width: 100%;
}
.jobs__city {
  position: absolute;
  right: -18px;
  top: -5px;
  background: #FFC935;
  box-shadow: 0px 4px 11.2px rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  transform: matrix(0.98, 0.19, -0.19, 0.98, 0, 0);
  min-width: 150px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
}
.jobs__bottom {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.jobs__button {
  min-width: 214px;
  height: 52px;
}
.jobs__dots {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 12px;
}
.jobs__dot {
  display: inline-block;
  background: #FFD0B2;
  width: 18px;
  height: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.jobs__dot.active {
  background: #FB5F19;
}

.offers__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.offers__block {
  background: linear-gradient(180deg, #FF791F 0%, #FFA51F 63.28%, #FFE178 136.08%);
  box-shadow: 6px 6px 27px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  width: 280px;
  height: 234px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offers__blocks {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}
.offers__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 23px;
}

.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item {
  flex-basis: 380px;
}
.about__image {
  overflow: hidden;
  border-radius: 50px;
  max-width: 380px;
  width: 100%;
  aspect-ratio: 190/149;
  position: relative;
}
.about__image img {
  position: relative;
  transform: translateY(-20%);
}
.about__title {
  text-transform: uppercase;
  text-align: center;
  padding: 70px;
}
.about__item-title {
  font-family: "FuturaMediumC";
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
}
.about__body {
  text-align: center;
}

.poll__title {
  text-transform: uppercase;
  text-align: center;
}

.form-select, .form-control {
  background: #FFFFFF;
  border: 1px solid #C9C4C4;
  box-shadow: 6px 6px 27px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  font-size: 23px;
  line-height: 29px;
  color: #C9C4C4;
  height: 70px;
}

.form-control {
  width: 100%;
}
.form-select {
  width: 100%;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.col-auto {
  flex-basis: 50%;
}