.about {
    --width: 380px;
    --padding: 110px;
    & > .container {
        padding: var(--padding);
    }
    &__wrap {
        overflow: hidden;
    }
    &__list {
        left: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        transition: left .5s ease-in-out;
    }
    &__item {
        flex-basis: var(--width);
        flex-shrink: 0;
    }
    &__image {
        --border-radius: 50px;
        --ratio: 190/149;
        overflow: hidden;
        border-radius: var(--border-radius);
        max-width: var(--width);
        width: 100%;
        aspect-ratio: var(--ratio);
        position: relative;
    }
    &__title {
        --padding: 70px;
        text-transform: uppercase;
        text-align: center;
        padding: var(--padding);
    }
    &__item-title {
        --font-size: 23px;
        font-family: 'FuturaDemiC';
        text-transform: uppercase;
        text-align: center;
        font-size: var(--font-size);
    }
    &__body {
        text-align: center;
    }
    &__dots {
        display: flex;
        justify-content: center;
        gap: 12px;
    }
    &__dot {
        width: 18px;
        height: 18px;
    }
    @media (min-width: $breakpoint-tablet) {
        &__dots {
            display: none;
        }
    }
    @media (max-width: $breakpoint-tablet) {
        --width: 100%;
        --padding: 4px 10px 40px 10px;
        &__title {
            --padding: 36px;
        }
        &__list {
            gap: 10px;
        }
        &__image {
            --border-radius: 25px;
            --ratio: 60/47;
        }
    }
}