footer {
    --font-size: 20px;
    --margin: 32px;
    --app-button_w: 180px;
    --social-size: 36px;
    --social-icon-s: 32px;
    --social-radius: 7px;
    --social-margin: 110px;
    --app-link-height: 56px;
    --app-link-radius: 20px;
    --app-link-padding: 10px 20px;
    --app-link-icon-w: 36px;
    --links-gap: 32px;
    .grid {
        &-col {
            &__apps {
                margin-top: 40px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
            }
        }
        &-text {
            &__content {
                font-size: var(--font-size);
            }
            &__title {
                margin-bottom: var(--margin);
            }
        }
        &-links {
            display: flex;
            flex-direction: column;
            gap: var(--links-gap);
        }
        &-apps {
            &__link {
                color: white;
                background-color: black;
                height: var(--app-link-height);
                border-radius: var(--app-link-radius);
                min-width: var(--app-button_w);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: var(--app-link-padding);
                box-sizing: border-box;
                text-decoration: none;
                display: flex;
                gap: 12px;
                &::before {
                    content: '';
                    display: inline-grid;
                    align-items: center;
                    min-width: var(--app-link-icon-w);
                    height: var(--app-link-icon-w);
                }
                &.google::before {
                    content:  url("data:image/svg+xml,%3Csvg%20height%3D%22100%25%22%20viewBox%3D%220%200%2030%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M0.520607%200.45919C0.130151%200.849646%200%201.5004%200%202.28132V31.0449C0%2031.8258%200.260304%2032.4765%200.650759%2032.867L0.780911%2032.9972L16.9197%2016.8583V16.598L0.520607%200.45919Z%22%20fill%3D%22url%28%23paint0_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.1258%2022.3247L16.7896%2016.9885V16.598L22.1258%2011.2618L22.256%2011.3919L28.6334%2015.0362C30.4556%2016.0774%2030.4556%2017.7694%2028.6334%2018.8106L22.1258%2022.3247Z%22%20fill%3D%22url%28%23paint1_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.256%2022.1945L16.7896%2016.7282L0.52063%2032.9971C1.17139%2033.6479%202.08245%2033.6479%203.25382%2033.1273L22.256%2022.1945Z%22%20fill%3D%22url%28%23paint2_linear_1_7%29%22%2F%3E%0A%3Cpath%20d%3D%22M22.256%2011.2618L3.25382%200.459188C2.08245%20-0.191572%201.17139%20-0.06142%200.52063%200.589339L16.7896%2016.7282L22.256%2011.2618Z%22%20fill%3D%22url%28%23paint3_linear_1_7%29%22%2F%3E%0A%3Cpath%20opacity%3D%220.2%22%20d%3D%22M22.1258%2022.0644L3.25382%2032.7368C2.2126%2033.3876%201.30154%2033.2575%200.650782%2032.7368L0.52063%2032.867L0.650782%2032.9971C1.30154%2033.5178%202.2126%2033.6479%203.25382%2032.9971L22.1258%2022.0644Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20opacity%3D%220.12%22%20d%3D%22M0.520607%2032.7368C0.130151%2032.3464%200%2031.6956%200%2030.9147V31.0449C0%2031.8258%200.260304%2032.4765%200.650759%2032.867V32.7368H0.520607ZM28.6334%2018.4201L22.1258%2022.0644L22.256%2022.1945L28.6334%2018.5503C29.5445%2018.0297%2029.9349%2017.3789%2029.9349%2016.7282C29.9349%2017.3789%2029.4143%2017.8995%2028.6334%2018.4201Z%22%20fill%3D%22black%22%2F%3E%0A%3Cpath%20opacity%3D%220.25%22%20d%3D%22M3.2538%200.58934L28.6334%2015.0362C29.4143%2015.5568%2029.9349%2016.0774%2029.9349%2016.7282C29.9349%2016.0774%2029.5445%2015.4267%2028.6334%2014.906L3.2538%200.459188C1.43167%20-0.582027%200%200.198884%200%202.28131V2.41147C0%200.459188%201.43167%20-0.451875%203.2538%200.58934Z%22%20fill%3D%22white%22%2F%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_1_7%22%20x1%3D%2215.3579%22%20y1%3D%222.03403%22%20x2%3D%22-6.48547%22%20y2%3D%2223.8761%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2300A0FF%22%2F%3E%0A%3Cstop%20offset%3D%220.007%22%20stop-color%3D%22%2300A1FF%22%2F%3E%0A%3Cstop%20offset%3D%220.26%22%20stop-color%3D%22%2300BEFF%22%2F%3E%0A%3Cstop%20offset%3D%220.512%22%20stop-color%3D%22%2300D2FF%22%2F%3E%0A%3Cstop%20offset%3D%220.76%22%20stop-color%3D%22%2300DFFF%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300E3FF%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint1_linear_1_7%22%20x1%3D%2231.0204%22%20y1%3D%2216.7295%22%20x2%3D%22-0.472428%22%20y2%3D%2216.7295%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FFE000%22%2F%3E%0A%3Cstop%20offset%3D%220.409%22%20stop-color%3D%22%23FFBD00%22%2F%3E%0A%3Cstop%20offset%3D%220.775%22%20stop-color%3D%22%23FFA500%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FF9C00%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint2_linear_1_7%22%20x1%3D%2219.2976%22%20y1%3D%2219.7165%22%20x2%3D%22-10.3223%22%20y2%3D%2249.3364%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%23FF3A44%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23C31162%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3ClinearGradient%20id%3D%22paint3_linear_1_7%22%20x1%3D%22-3.51798%22%20y1%3D%22-9.07313%22%20x2%3D%229.70935%22%20y2%3D%224.1542%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2332A071%22%2F%3E%0A%3Cstop%20offset%3D%220.069%22%20stop-color%3D%22%232DA771%22%2F%3E%0A%3Cstop%20offset%3D%220.476%22%20stop-color%3D%22%2315CF74%22%2F%3E%0A%3Cstop%20offset%3D%220.801%22%20stop-color%3D%22%2306E775%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300F076%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
                }
                &.apple::before {
                    content:  url("data:image/svg+xml,%3Csvg%20height%3D%22100%25%22%20viewBox%3D%220%200%2036%2036%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_3_15%29%22%3E%0A%3Cpath%20d%3D%22M7.88398%200H28.116C32.4702%200%2036%203.52978%2036%207.88398V28.116C36%2032.4702%2032.4702%2036%2028.116%2036H7.88398C3.52978%2036%200%2032.4702%200%2028.116V7.88398C0%203.52978%203.52978%200%207.88398%200Z%22%20fill%3D%22url%28%23paint0_linear_3_15%29%22%2F%3E%0A%3Cpath%20d%3D%22M11.5371%2026.1296L11.5405%2026.1307L10.3096%2028.2625C9.86036%2029.0407%208.86523%2029.3074%208.08704%2028.8581C7.30889%2028.4088%207.04225%2027.4137%207.49152%2026.6355L8.39825%2025.065L8.48526%2024.9143C8.64067%2024.6909%209.02417%2024.3055%209.79127%2024.3779C9.79127%2024.3779%2011.5964%2024.5738%2011.7271%2025.5121C11.7271%2025.5121%2011.7449%2025.8208%2011.5371%2026.1296ZM28.9948%2020.6845H25.1565C24.8951%2020.667%2024.781%2020.5736%2024.7362%2020.5194L24.7333%2020.5144L20.6246%2013.3979L20.6193%2013.4015L20.3728%2013.0482C19.969%2012.4306%2019.3278%2014.0101%2019.3278%2014.0101C18.5621%2015.7701%2019.4364%2017.7711%2019.7413%2018.3759L25.448%2028.2603C25.8973%2029.0385%2026.8924%2029.3052%2027.6706%2028.8559C28.4487%2028.4066%2028.7154%2027.4115%2028.2661%2026.6333L26.839%2024.1616C26.8114%2024.1018%2026.7633%2023.9391%2027.0559%2023.9385H28.9948C29.8933%2023.9385%2030.6218%2023.2101%2030.6218%2022.3115C30.6218%2021.4129%2029.8933%2020.6845%2028.9948%2020.6845ZM21.5397%2022.8963C21.5397%2022.8963%2021.7445%2023.9385%2020.9518%2023.9385H20.1591L6.76289%2023.9385C5.86432%2023.9385%205.13586%2023.2101%205.13586%2022.3115C5.13586%2021.4129%205.86432%2020.6845%206.76289%2020.6845H10.4107C10.9996%2020.6503%2011.1393%2020.3104%2011.1393%2020.3104L11.1425%2020.312L15.9041%2012.0646L15.9027%2012.0643C15.9895%2011.905%2015.9172%2011.7545%2015.9046%2011.7306L14.3321%209.00697C13.8828%208.22878%2014.1494%207.23369%2014.9276%206.78442C15.7058%206.33512%2016.7009%206.60176%2017.1502%207.37994L17.8795%208.64317L18.6075%207.38219C19.0568%206.604%2020.0519%206.33736%2020.8301%206.78667C21.6082%207.23597%2021.8749%208.23106%2021.4256%209.00921L14.7996%2020.4856C14.7707%2020.5555%2014.7618%2020.6651%2014.9774%2020.6845H18.938L18.9388%2020.723C18.9388%2020.723%2021.2279%2020.7587%2021.5397%2022.8963Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3ClinearGradient%20id%3D%22paint0_linear_3_15%22%20x1%3D%221800%22%20y1%3D%220%22%20x2%3D%221800%22%20y2%3D%223600%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%3Cstop%20stop-color%3D%22%2317C9FB%22%2F%3E%0A%3Cstop%20offset%3D%221%22%20stop-color%3D%22%231A74E8%22%2F%3E%0A%3C%2FlinearGradient%3E%0A%3CclipPath%20id%3D%22clip0_3_15%22%3E%0A%3Crect%20width%3D%2236%22%20height%3D%2236%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
                }
            }
        }
        &-socials {
            display: flex;
            gap: 32px;
            grid-column-end: 4;
            margin-bottom: var(--social-margin);
            &__link {
                display: flex;
                align-items: center;
                gap: 12px;
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: var(--orange);
                    & > i {
                        background-color: var(--orange);
                    }
                }
                & > i {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: var(--social-size);
                    height: var(--social-size);
                    border-radius: var(--social-radius);
                    background-color: black;
                }
                & > i::before {
                    content: '';
                    width: var(--social-icon-s);
                    height: var(--social-icon-s);
                    display: inline-block;
                }
                &.ig > i::before {
                    content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M26.4875%209.1625C26.4875%209.3905%2026.4425%209.61629%2026.3553%209.82692C26.2681%2010.0376%2026.1401%2010.229%2025.979%2010.3902C25.8178%2010.5514%2025.6263%2010.6793%2025.4156%2010.7666C25.205%2010.8538%2024.9793%2010.8987%2024.7513%2010.8987C24.5233%2010.8987%2024.2975%2010.8538%2024.0868%2010.7666C23.8762%2010.6793%2023.6848%2010.5514%2023.5235%2010.3902C23.3623%2010.229%2023.2344%2010.0376%2023.1472%209.82692C23.0598%209.61629%2023.015%209.3905%2023.015%209.1625C23.015%208.70202%2023.1978%208.2604%2023.5235%207.93479C23.8492%207.60918%2024.2908%207.42625%2024.7513%207.42625C25.2118%207.42625%2025.6533%207.60918%2025.979%207.93479C26.3045%208.2604%2026.4875%208.70202%2026.4875%209.1625ZM32%2017V17.0225L31.9006%2023.315C31.8753%2025.5843%2030.9626%2027.7537%2029.3579%2029.3585C27.7535%2030.9635%2025.5843%2031.8766%2023.315%2031.9025L17%2032H16.9775L10.685%2031.9006C8.41563%2031.8753%206.24633%2030.9626%204.64139%2029.3581C3.03643%2027.7535%202.12333%2025.5843%202.0975%2023.315L2%2017V16.9775L2.09937%2010.685C2.12471%208.41563%203.03733%206.24633%204.64193%204.64139C6.24654%203.03643%208.41563%202.12332%2010.685%202.0975L17%202H17.0225L23.315%202.09938C25.5843%202.12471%2027.7537%203.03733%2029.3585%204.64193C30.9635%206.24654%2031.8766%208.41563%2031.9025%2010.685L32%2017ZM29.2063%2017L29.1088%2010.7281C29.0911%209.18552%2028.4705%207.71106%2027.3798%206.62021C26.2889%205.52937%2024.8145%204.90878%2023.2719%204.89125L17%204.79375L10.7281%204.89125C9.18552%204.90878%207.71106%205.52937%206.62021%206.62021C5.52937%207.71106%204.90878%209.18552%204.89125%2010.7281L4.79375%2017L4.89125%2023.2719C4.90878%2024.8144%205.52937%2026.2889%206.62021%2027.3798C7.71106%2028.4707%209.18552%2029.0911%2010.7281%2029.1088L17%2029.2063L23.2719%2029.1088C24.8145%2029.0911%2026.2889%2028.4707%2027.3798%2027.3798C28.4705%2026.2889%2029.0911%2024.8144%2029.1088%2023.2719L29.2063%2017ZM24.7025%2017C24.7025%2019.0428%2023.891%2021.002%2022.4465%2022.4465C21.002%2023.891%2019.0428%2024.7025%2017%2024.7025C14.9572%2024.7025%2012.998%2023.891%2011.5535%2022.4465C10.109%2021.002%209.2975%2019.0428%209.2975%2017C9.2975%2014.9572%2010.109%2012.998%2011.5535%2011.5535C12.998%2010.109%2014.9572%209.2975%2017%209.2975C19.0428%209.2975%2021.002%2010.109%2022.4465%2011.5535C23.891%2012.998%2024.7025%2014.9572%2024.7025%2017ZM21.9088%2017C21.9088%2015.6981%2021.3916%2014.4495%2020.471%2013.529C19.5504%2012.6084%2018.3019%2012.0912%2017%2012.0912C15.6981%2012.0912%2014.4495%2012.6084%2013.529%2013.529C12.6084%2014.4495%2012.0912%2015.6981%2012.0912%2017C12.0912%2018.3019%2012.6084%2019.5504%2013.529%2020.471C14.4495%2021.3916%2015.6981%2021.9088%2017%2021.9088C18.3019%2021.9088%2019.5504%2021.3916%2020.471%2020.471C21.3916%2019.5504%2021.9088%2018.3019%2021.9088%2017Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
                }
                &.fb > i::before {
                    content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_2_4%29%22%3E%0A%3Cpath%20d%3D%22M21.9284%2016.7476L22.7548%2011.3592H17.5849V7.86252C17.5849%206.38836%2018.3071%204.95146%2020.6227%204.95146H22.9733V0.364102C22.9733%200.364102%2020.84%200%2018.8006%200C14.5426%200%2011.7597%202.58059%2011.7597%207.25244V11.3592H7.02667V16.7476H11.7597V29.7735C12.7087%2029.9224%2013.6815%2030%2014.6723%2030C15.6632%2030%2016.6359%2029.9224%2017.5849%2029.7735V16.7476H21.9284Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_2_4%22%3E%0A%3Crect%20width%3D%2230%22%20height%3D%2230%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E");
                    align-items: end;
                    justify-content: end;
                }
                &.vk > i::before {
                    content: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M28.9798%209.65898H24.7607C24.5884%209.65898%2024.4195%209.70645%2024.2717%209.79634C24.1239%209.88623%2024.0028%2010.0152%2023.9214%2010.1695C23.9214%2010.1695%2022.2387%2013.3205%2021.6981%2014.3818C20.244%2017.2369%2019.3024%2016.3406%2019.3024%2015.0155V10.4467C19.3024%2010.0649%2019.1532%209.69871%2018.8877%209.42874C18.6222%209.15878%2018.2621%209.00711%2017.8866%209.00711H14.7144C14.2824%208.97445%2013.8493%209.05463%2013.4564%209.24003C13.0634%209.42542%2012.7236%209.70989%2012.4692%2010.0664C12.4692%2010.0664%2014.08%209.80158%2014.08%2012.0084C14.08%2012.5556%2014.1077%2014.1299%2014.133%2015.4502C14.1378%2015.6448%2014.0837%2015.8362%2013.9781%2015.9985C13.8725%2016.1609%2013.7204%2016.2863%2013.5425%2016.358C13.3645%2016.4297%2013.1692%2016.4442%2012.9829%2016.3994C12.7966%2016.3546%2012.6283%2016.2528%2012.5007%2016.1077C11.2023%2014.2715%2010.1267%2012.2826%209.29747%2010.1841C9.22626%2010.0271%209.11225%209.89423%208.96897%209.80115C8.8257%209.70807%208.65917%209.65873%208.48915%209.65898C7.57415%209.65898%205.74316%209.65898%204.6558%209.65898C4.55036%209.65825%204.44632%209.68356%204.35262%209.73273C4.25892%209.7819%204.17836%209.85347%204.11787%209.94128C4.05737%2010.0291%204.01874%2010.1305%204.00531%2010.2369C3.99187%2010.3432%204.00403%2010.4513%204.04073%2010.5518C5.20472%2013.7981%2010.2188%2024%2015.9419%2024H18.3508C18.6031%2024%2018.8452%2023.898%2019.0237%2023.7166C19.2021%2023.5351%2019.3024%2023.289%2019.3024%2023.0324V21.5534C19.3024%2021.3679%2019.3558%2021.1864%2019.456%2021.0314C19.5562%2020.8763%2019.6988%2020.7545%2019.8662%2020.6808C20.0337%2020.6071%2020.2187%2020.5849%2020.3985%2020.6168C20.5782%2020.6488%2020.7448%2020.7335%2020.8778%2020.8605L23.761%2023.6149C24.02%2023.8623%2024.3619%2024%2024.7172%2024H28.5034C30.3295%2024%2030.3295%2022.7116%2029.3338%2021.7146C28.6332%2021.013%2026.1048%2018.3033%2026.1048%2018.3033C25.8883%2018.0752%2025.7591%2017.7759%2025.7407%2017.4595C25.7223%2017.143%2025.8158%2016.8303%2026.0043%2016.5779C26.8216%2015.4844%2028.1583%2013.6943%2028.7252%2012.9275C29.5001%2011.8794%2030.9025%209.65898%2028.9798%209.65898Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
                }
            }
        }
        @media (min-width: $breakpoint-tablet) {
            &-container {
                display: grid;
                grid-template-columns: 1fr 1fr auto;
                gap: 20px
            }
        }
        @media (max-width: $breakpoint-tablet) {
            &-container {
                display: flex;
                flex-direction: column;
            }
            &-text {
                order: -2;
            }
            &-col {
                order: -1;
            }
        }
    }
    @media (max-width: $breakpoint-tablet) {
        --font-size: 12px;
        --app-button_w: 100px;
        --social-size: 20px;
        --social-icon-s: 16px;
        --social-radius: 4px;
        --social-margin: 50px;
        --app-link-height: 30px;
        --app-link-radius: 7px;
        --app-link-padding: 5px 10px;
        --app-link-icon-w: 18px;
        --links-gap: 12px;
        .grid {
            &-links {
                padding: 24px 0;
            }
        }
    }
}