.jumbotron {
  &__title {
    text-transform: uppercase;
  }
  &__button {
    --height: 88px;
    --width: 380px;
    --font-size: 23px;
    height: var(--height);
    min-width: var(--width);
    width: fit-content;
    font-size: var(--font-size);
    text-decoration: inherit;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  &__image {
    display: flex;
    max-width: 100%;
  }
  &__content {
    padding: var(--container-padding) 0;
  }
  @media screen and (max-width: $breakpoint-tablet){
    &__title {
      text-align: center;
    }
    &__button {
      --height: 52px;
      --width: 240px;
      --font-size: 18px;
      width: fit-content;
      margin: 0 auto;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    & > .container {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    &__content {
      max-width: 610px;
      position: relative;
      z-index: 1;
      background: linear-gradient(90deg, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      margin-bottom: 60px;
      & > * {
        margin-top: .5em;
        display: inline-block;
      }
      & > p {
        margin-bottom: 0;
      }
    }
    &__image {
      position: absolute;
      right: 0;
      top: -15vh;
      max-width: 80vw;
    }
  }
}