.jumbotron {
  &__title {
    text-transform: uppercase;
  }
  &__button {
    --height: 88px;
    --width: 380px;
    --font-size: 23px;
    height: var(--height);
    min-width: var(--width);
    font-size: var(--font-size);
    text-decoration: inherit;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  @media screen and (max-width: $breakpoint-tablet){
    &__title {
      text-align: center;
    }
    &__button {
      --height: 52px;
      --width: 100%;
      --font-size: 18px;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    & > .container {
      padding: 110px;
      height: 800px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
    }
    &__content {
      max-width: 610px;
    }
    &__title {
      margin-bottom: 60px;
      & > * {
        margin-top: .5em;
        display: inline-block;
      }
      & > p {
        margin-bottom: 0;
      }
    }
    &__image {
      position: absolute;
      right: 0;
      bottom: -5px;
    }
  }
}