$breakpoint-tablet: 768px;
$breakpoint-mobile:576px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
:root {
  --orange: #FB5F19;
  --yellow: #FFE60A;
}
body {
  font-family: 'FuturaBookC';
  overflow-x: hidden;
  font-size: 23px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  color: var(--orange);
  &:hover {
    color: var(--yellow);
  }
}
h3 a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
strong {
  font-family: 'FuturaDemiC';
}
.section-dark {
  background: #FEF6F1;
}
.container {
  max-width: 1440px;
  margin:  0 auto;
  padding: 0 110px;
  box-sizing: border-box;
}
.orange-text {
  color: var(--orange);
}
.text-center {
  text-align: center;
}
.btn {
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  &-orange {
    background: #FFE60A;
    box-shadow: inset 0px 4px 10.9px rgba(154, 56, 1, 0.25);
  }
  &-blink  {
    position: relative;
    overflow: hidden;
    & > span {
      position: relative;
      z-index: 2;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -5px;
      background: linear-gradient(270deg,rgba(237,119,30,0) 4.81%,#FB5F19 37.71%,rgba(237,119,30,0) 80.8%);
      transform: rotate(-7.94deg) translateY(-50%);
      filter: blur(20px);
      border-radius: 64px;
      width: 175%;
      height: 175%;
      animation: animate-gradient 1s linear infinite;
    }
  }
}
.title-h1 {
  font-size: 65px;
  line-height: 1.4;
}
.title-h2 {
  font-size: 45px;
  line-height: 1.4;
  font-weight: 700;
  font-family: 'FuturaDemiC';
}
.is-hidden {
  display: none;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.show {
  opacity: 1;
}
@keyframes animate-gradient
{
  0%{left:-200%}
  to{left:100%}
}
@import 'header';
@import 'jumbotron';
@import 'jobs';
@import 'offers';
@import 'about';
@import 'poll';
@import 'footer';
@import 'modal';