$breakpoint-tablet:768px;
$breakpoint-mobile:576px;
$breakpoint-lg:992px;
$breakpoint-xl:1200px;

:root {
  --orange: #FB5F19;
  --orange-mid: #FFD0B2;
  --orange-light: #FEF6F1;
  --yellow: #FFE60A;
  --yellow-mid: #FFC935;
  --red: #FF0101;
  --font-size: 23px;
}
body {
  font-family: 'FuturaBookC';
  overflow-x: hidden;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  color: var(--orange);
  &:hover {
    color: var(--yellow);
  }
}
h3 a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}
strong {
  font-family: 'FuturaDemiC';
}
.section-dark {
  background: #FEF6F1;
}
.container {
  max-width: 1440px;
  margin:  0 auto;
  box-sizing: border-box;
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 0 110px;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 0 10px;
  }
}
.orange-text {
  color: var(--orange);
}
.text-center {
  text-align: center;
}
.btn {
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  &-orange {
    background: #FFE60A;
    box-shadow: inset 0px 4px 10.9px rgba(154, 56, 1, 0.25);
  }
  &-blink  {
    position: relative;
    overflow: hidden;
    & > span {
      position: relative;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -5px;
      background: linear-gradient(270deg,rgba(237,119,30,0) 4.81%,#FB5F19 37.71%,rgba(237,119,30,0) 80.8%);
      transform: rotate(-7.94deg) translateY(-50%);
      filter: blur(20px);
      border-radius: 64px;
      width: 175%;
      height: 175%;
      animation: animate-gradient 1s linear infinite;
    }
  }
}
.title-h1 {
  font-size: 23px;
  line-height: 1.25;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 65px;
    line-height: 1.2;
  }
}
.title-h2 {
  font-size: 20px;
  line-height: 1.0;
  font-weight: 700;
  font-family: 'FuturaDemiC';
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 45px;
    line-height: 1.2;
  }
}
.is-hidden {
  display: none;
}
.is-fixed {
  position: fixed;
  width: 100%;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.fade.show {
  opacity: 1;
}
.dot {
  display: inline-block;
  background: var(--orange-mid);
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  &.active,
  &:hover {
      background: var(--orange);
  }
}

@keyframes animate-gradient
{
  0%{left:-200%}
  to{left:100%}
}
@media screen and (max-width: $breakpoint-tablet) {
  :root {
    --font-size: 15px;
  }
}
@import 'header';
@import 'jumbotron';
@import 'jobs';
@import 'offers';
@import 'about';
@import 'poll';
@import 'footer';
@import 'modal';