mixin generate_list(items)
    .about__list
        each item in items
            .about__item
                .about__image
                    img(src=item.pic)
                h3.about__title
                    a(href=item.link)= item.title
                p=item.text
block variables
    -
        let list = [
            {
                'title': 'Только свежие ингредиенты, только вкусная пицца!',
                'text': 'Качество наших пицц — наше визитное карточка. Присоединяйтесь к нам, чтобы вместе создавать идеальные пиццы, о которых не стыдно рассказать!',
                'pic' : './img/test.jpg'
            },
            {
                'title': 'Работа для каждого!',
                'text': 'В Fudi Pizza каждый найдет свое место, даже если у вас нет опыта работы. Мы открыты для всех и готовы предоставить все необходимое для вашего профессионального роста. Наша цель – помогать вам достигать успеха и превращать вашу страсть в профессиональное достижение.',
                'pic' : './img/test.jpg'},
            {
                'title': 'Команда мечты!',
                'text': 'Наш коллектив — это настоящая семья профессионалов, где каждый важен и ценен. Мы вдохновляем друг друга на постоянный рост и успех, создавая поддерживающую и дружескую атмосферу для совместной работы.',
                'pic' : './img/test.jpg'
            }
        ]
block content
    section.about
        .container
            .about__title.title-h2 Fudi pizza – вкусная пицца и отличная работа!
            +generate_list(list)