footer
    .container.grid-container
        .grid-text
            .grid-text__title ООО “Фудипицца” Волковыск
            .grid-text__content 
                p Номер для заказа +375-33-66-66-035 Самовывоз: Волковыск, ул. Красноармейкая, 90 (БЦ Империал). Юридический адрес: Гродненская область, г. Слоним, ул. Тополевая 22 павильон 26 Р/с BY21BLBB30120591755091001001 ОАО "Белинвестбанк" г. Слоним, ул. Первомайская, 4А УНП 591755091 SWIFT/BLBBBY2X(БИК) ОКПО/505874474000 Свидетельство о государственной регистрации №591755091 от 22 февраля 2022 года выдано Слонимским районным исполнительным комитетом.
        .grid-links
            a(href='#') Политика конфиденциальности
            a(href='#') Публичная оферта
        .grid-col
            .grid-col__actions Акции, скидки, кэшбэк - в нашем приложении!
            .grid-col__apps
                a.grid-apps__link.google(href='#') Google Play
                a.grid-apps__link.apple(href='#') App Store
        .grid-socials
            a.grid-socials__link.ig(href='#')
                i 
                | Instagram
            a.grid-socials__link.fb(href='#')
                i 
                | Facebook
            a.grid-socials__link.vk(href='#')
                i 
                | Вконтакте
