- var menu = [{'text': 'на главную', 'link': '#'}, {'text': 'вакансии', 'link': '#'}, {'text': 'о нас', 'link': '#'}, {'text': 'анкета', 'link': '#'}]
header
    .container
        .logo
            .logo__img
            .logo__text
        nav.header-nav
            ul
                each val in menu
                    li
                        a(href=val.link)= val.text
        .phone
            p
                a(href='tel:+375256466951') +375 (25) 646-69-51