- var menu = [{'text': 'на главную', 'link': '#'}, {'text': 'вакансии', 'link': '#vacancy'}, {'text': 'о нас', 'link': '#about'}, {'text': 'анкета', 'link': '#poll'}]
header
    .container
        nav.header-nav
            .logo
                .logo__img
                    a(href='/')
                        img(src='./img/logo.svg')
                .logo__text
                    span.orange-text Fudi
                    |  Pizza
            ul.header-nav__list
                    each val in menu
                        li.header-nav__item
                            a(href=val.link)= val.text
            .header-nav__phone
                p
                    a(href='tel:+375256466951') +375 (25) 646-69-51
            .header-nav__mobile(JS_menu)
                span.header-nav__menu(JS_menu__button)