-
    let slider = [
        {'text': 'Курьер на авто компании', 'link': '#','pic' : './img/jobs-1.jpg', 'city' : 'волковыск', 'class' : 'left-hide'},
        {'text': 'Пиццамейкер', 'link': '#', 'pic' : './img/jobs-2.jpg', 'city' : 'волковыск', 'class' : 'left'},
        {'text': 'Курьер на личном авто', 'link': '#', 'pic' : './img/jobs-3.jpg', 'city' : 'волковыск', 'class' : 'active active--big'},
        {'text': 'Курьер на авто компании 2', 'link': '#','pic' : './img/jobs-1.jpg', 'city' : 'волковыск', 'class' : 'right'},
        {'text': 'Пиццамейкер 2', 'link': '#', 'pic' : './img/jobs-2.jpg', 'city' : 'волковыск', 'class' : 'right-hide'},
        {'text': 'Курьер на личном авто 2', 'link': '#', 'pic' : './img/jobs-3.jpg', 'city' : 'волковыск', 'class' : 'right-hide'}
    ]

mixin slider(items)
    .jobs__slider(JS_Slider)
        each item in slider
            .jobs__item(class=item.class)
                .jobs__city= item.city
                .jobs__item-inner
                    .jobs__image
                        img(src=item.pic)
                    h3.jobs__item-title
                        a(href=item.link)= item.text
                    .jobs__bottom
                        button.jobs__button.btn.btn-orange.btn-blink  Подробнее
    - let n = 0;
    .jobs__dots
        while n < slider.length
            span(data-num= n++).jobs__dot.dot

section.jobs.section-dark
    .container
        .jobs__title.title-h2 
            strong Fudi pizza 
            | в поисках
        +slider(slider)