-
    var slider = [
        {'text': 'Курьер на авто компании', 'link': '#','pic' : './img/jobs-1.jpg', 'city' : 'волковыск'},
        {'text': 'Пиццамейкер', 'link': '#', 'pic' : './img/jobs-2.jpg', 'city' : 'волковыск'},
        {'text': 'Курьер на личном авто', 'link': '#', 'pic' : './img/jobs-3.jpg', 'city' : 'волковыск'}
    ]

mixin slider(items)
    .jobs__slider
        each item in slider
            .jobs__item
                .jobs__city= item.city
                .jobs__image
                    img(src=item.pic)
                h3.jobs__title
                    a(href=item.link)= item.text
                button.slider__button.btn.btn-orange.btn-blink  Подробнее

section.jobs
    .container
        .jobs__title.title-h2 Fudi pizza в поисках
        +slider(slider)