section.jumbotron
    .container
        .jumbotron__content
            .jumbotron__title.title-h1
                p 
                    | Присоединяйся 
                    br
                    | к нашей 
                    br
                    | команде и 
                    br
                    | расти вместе с 
                    br
                    strong.orange-text Fudi Pizza
            button.jumbotron__button.btn.btn-orange.btn-blink 
                span Заполнить анкету
        .jumbotron__image
            img(src='./img/main.png')