section.jumbotron
    .container
        .jumbotron__title.title-h1 Присоединяйся к нашей команде и расти вместе с 
            span.orange-text Fudi Pizza
        .jumbotron__button.btn Заполнить анкету