-
    var blocks = [
        {'text': 'Обучение с 0', 'pic' : './img/book _icon.svg'},
        {'text': 'Удобный график', 'pic' : './img/time _icon.svg'},
        {'text': 'Тимбилдинги и корпоративы', 'pic' : './img/team _icon.svg'},
        {'text': 'Скидка 30% на продукцию компании', 'pic' : './img/sale_icon.svg'}
    ]

mixin blocks(items)
    each item in items
        .offers__block
            .offers__image
                img(src=item.pic)
            h3.offers__title-item= item.text

section.offers.section-dark
    .container
        .offers__wrap
            .offers__content
                .offers__title.title-h2 мы предлагаем
                .offers__text
                    p Fudi Pizza заботится о каждом сотруднике, создавая атмосферу уважения, открытости и поддерживая стремление к личному и профессиональному росту
            .offers__blocks
                +blocks(blocks)