.modal.fade(aria-hidden="true" role="dialog" id="poll-modal")
    .modal-dialog(role="dialog")
        .modal-content
            .modal-header
                .modal-mark
                    img(src='./img/mark.svg')
                .close(data-dismiss='modal' arial-label="Close")
            .modal-body
                p 
                    strong Ваша анкета успешно отправлена!
                p Мы свяжемся с вами в ближайшее время
