section.vacancy
    .container
        .vacancy__title.title-h2.orange-text пиццамейкер
        .vacncy__text Fudi Pizza приглашает на работу пиццамейкера в Слоним. Желательно с опытом работы, но также проводим обучение.
        .vacancy-grid
            .vacancy-grid__job.vacancy-grid__item
                .vacancy-grid__city Слоним
                .vacancy-grid__picture
                    img(src="./img/jobs-2.jpg")
                .vacancy-grid__item-inner
                    .vacancy-grid__title твои обязанности:
                    ul.vacancy-grid__list
                        li приготовление пицц и закусок
                        li поддержание оптимального количества заготовок в течение рабочего дня 
            .vacancy-grid__requirements.vacancy-grid__item
                .vacancy-grid__item-inner
                    .vacancy-grid__title Требования:
                    ul.vacancy-grid__list
                        li соблюдение правил санитарии и лично гигиены 
                        li санитарная справка или возможность ее сделать
            .vacancy-grid__offer.vacancy-grid__item
                .vacancy-grid__item-inner
                    .vacancy-grid__title что мы предлагаем:
                    ul.vacancy-grid__list
                        li полное обучение на рабочем месте
                        li стабильную заработную плату
                        li корпоративную форму одежды
                        li официальное оформление
                        li удобный график
                        li скидка 30% на продукцию компании