doctype html
html(lang="ru")
    head
        title FudiPizza
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block scripts
            script(src='/js/main.js')
        block styles
            link(rel='stylesheet', type='text/css', href='/css/style.css')
            link(rel='stylesheet', type='text/css', href='/css/vacancy.css')
            link(rel='stylesheet', type='text/css', href='/fonts/stylesheet.css')
    body
        include ./parts/header.pug
        main
            include ./parts/vacancy-section.pug
            include ./parts/poll-section.pug
        include ./parts/footer.pug
        include ./parts/popup.pug